@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');

@theme {
  --color-brand-pink: #DB76B9;
  --color-brand-red: #E46868;
  --font-sans: 'Lexend', sans-serif;
  --grey-bg: #EDEDED;
  --grey-text: #636363;
}

body {
  margin: 0;
}
